.header img {
	float: right;
	margin: 7px 0px 7px 7px
}
.nav li {
  display: inline-block;
}

.nav {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.25;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  font-weight: 900;
}
.nav a {
	display: block;
    color: #4A4A4A;
    padding: 30px 20px;
}

.header {
	margin-top: 9%;

}
.header h1 {
	 font-weight: bold;
	 font-size: 65px;
}
.header p {
	text-align: ;
	font-family: "Arial", sans-serif;
    font-size: 25px;
    line-height: 1.25;
}

.content {
	font-family: "Arial", sans-serif;
    font-size: 25px;
    line-height: 1.25;
}
#footer li {
	display: inline-block;
	font-size: 25px;
	font-family: "Arial", sans-serif;

  	line-height: 1.25;
    	
  	top: 0;
  	
  	font-weight: 900;	
}

.content img {
	float: left;
	margin: 7px 7px 7px 0px
}